 body{
    background-color: grey;
u,h1{

    color: rgb(17, 184, 170);

}
p{
    color: black;

    

}
h2{
    color: black;
}

}
nav{
    border-top:solid 6px gold;
    color: white;
    background-color: white;
    margin: 10px;
    padding: 5px;
    outline: 10px 10px 
    
}
b{
    color: rgb(44, 211, 44);
}
 p u{
    color: orange; * */
    
}
     


home {
    color: orange;
}